<!DOCTYPE html>
<html lang="en">

{% extends 'navbar.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil Web - Beranda</title>
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href= "{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href= "{% static 'css/index.css' %}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    {% block content %}
    <div class="container-fluid biru1 h-100" id="beranda" style="margin-top:0px">
        <div class="row align-items-center h-100">
            <div class="col"></div>
            <div class="col-9 biru2" id="tron">
                <img src="{% static 'asset/asset1.jpg' %}" id="bunga">
                <div class="row">
                    <div class="col-8">
                        <h1>Ronaldi <br> Tjaidianto</h1>
                        <hr class="agen">
                        <div class="agen mx-auto">
                            <h3 class="mx-auto">Mahasiswa.<br>
                                <i>Programmer.</i><br>
                                <i>Web Designer.</i>
                            </h3>
                        </div>
                    </div>
                    <div class="col-4">
                        <hr>
                        <h3>Mahasiswa.<br>
                            <i>Programmer.</i><br>
                            <i>Web Designer.</i>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    {% endblock content %}
    
</body>
</html>