<!DOCTYPE html>
<html>
    {% extends 'navbar.html' %}
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil Web - Jadwal</title>
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    {% block content %}
    <div class="container-fluid biru1 h-100 overflow-auto mx-auto" id="jadwal" style="padding-top: 90px">
        <h2>Jadwal</h2>
        <div class="konten mx-auto">
            <div class="mx-auto" style="margin-bottom: 20px; width: fit-content">
                <form action="{% url 'add' %}" method="POST">
                    <table>
                        {% csrf_token %}
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Submit" />                
                </form>
            </div>
            <br>
            <table style="margin-bottom: 30px;">
                <tr>
                    <td style="padding-right: 50px"><b>Nama Kegiatan</b></td>
                    <td style="padding-right: 50px"><b>Tempat</b></td>
                    <td style="padding-right: 50px"><b>Hari</b></td>
                    <td style="padding-right: 50px"><b>Tanggal</b></td>
                    <td style="padding-right: 50px"><b>Jam</b></td>
                    <td style="padding-right: 30px"><b>Kategori</b></td>
                </tr>
    
                {% for jadwal in list_jadwal %}
                <tr>
                    <td> {{jadwal.namaKegiatan}}</td>
                    <td> {{jadwal.tempat}}</td>
                    <td> {{jadwal.hari}}</td>
                    <td> {{jadwal.tanggal}}</td>
                    <td> {{jadwal.jam}}</td>
                    <td> {{jadwal.kategori}}</td>
                    <td><a href="{% url 'delete' jadwal.id %}">Hapus</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endblock content %}
</body>
</html>