<!DOCTYPE html>
<html lang="en">
{% extends 'navbar.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil Web - Kontak</title>
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    {% block content %}
    <div class="container-fluid biru1 h-100 overflow-auto" id="kontak" style="padding-top: 90px">
        <h2>Kontak</h2>
        <div class="sub-kontainer mx-auto">

                <a href="https://www.instagram.com/ronaldi.tj">
                <img class="icon" src="{% static 'asset/ig.png' %}"><p>ronaldi.tj</p></a>
                <img class="icon" src="{% static 'asset/line.png' %}">
                <p>ronaldi1</p>
                <img class="icon" src="{% static 'asset/asset3.png' %}">
                <p>ronalditjaidianto01@gmail.com</p>
        </div>
    </div>
    {% endblock content %}
</body>
</html>