<!DOCTYPE html>
<html lang="en">

{% extends 'navbar.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil Web - Pengalaman</title>
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    {% block content %}
    <div class="container-fluid biru1 h-100 overflow-auto" id="pengalaman" style="padding-top: 90px">
        <h2>Pengalaman</h2>
        <div class="konten mx-auto">
            <div class="sub-konten mx-auto">
                <h4>Pendidikan</h4>
                <ul>
                    <li><p>
                        SMAN 7 Banjarmasin <br>
                        2015 - 2018 <br>
                        -- Peminatan: Matematika dan IPA
                    </p></li>
                    <li><p>
                        Fakultas Ilmu Komputer, Universitas Indonesia <br>
                        2018 - Sekarang <br>
                        -- <i>Tools:</i> Python, Java
                    </p></li>
                </ul>
            </div>
            <div class="sub-konten">
                <h4>Organisasi</h4>
                <ul>
                    <li><p>
                        Staf Desain Humas OSUI Mahawaditra <br>
                        2018 - Sekarang <br>
                        -- <i>Tools:</i> Adobe Photoshop, Adobe Illustrator
                    </p></li>
                    <li><p>
                        Staf Desain Paramita KMBUI<br>
                        2018 - Sekarang <br>
                        -- <i>Tools:</i> Adobe Indesign, Adobe Photoshop
                    </p></li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>