<!DOCTYPE html>
<html lang="en">

{% extends 'navbar.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil Web - Profil</title>
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    {% block content %}
    <div class="container-fluid biru1 h-100 overflow-auto" id="profil" style="padding-top: 90px">
        <div class="row">
            <div class="col-12 judul">
                <h2>Profil</h2>
            </div>
        </div>
        <div class="konten mx-auto">
            <div class="mx-auto" style="width: fit-content">
                <img src="{% static 'asset/Ronaldi.jpg' %}">
                <div class="tabel">
                    <table>
                        <tr>
                            <td>Nama</td>
                            <td class="data">: Ronaldi Tjaidianto</td>
                        </tr>
                        <tr>
                            <td>Pekerjaan</td>
                            <td class="data">: Mahasiswa</td>
                        </tr>
                        <tr>
                            <td>Universitas</td>
                            <td class="data">: Universitas Indonesia</td>
                        </tr>
                        <tr>
                            <td>Jurusan</td>
                            <td class="data">: Ilmu Komputer</td>
                        </tr>
                        <tr>
                            <td>Angkatan</td>
                            <td class="data">: 2018</td>
                        </tr>
                        <tr>
                            <td>NPM</td>
                            <td class="data">: 1806141441</td>
                        </tr>
                        <tr>
                            <td>Hobi</td>
                            <td class="data">: Nonton Film</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="mx-auto" style="width: fit-content">
                <h4>Tentang Saya</h4>
                <p>Saya mahasiswa tingkat kedua di Fasilkom UI. Saat ini saya sedang mempelajari
                    pemrograman web dan laman ini merupakan salah satu tugas dari kelas tersebut.</p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>