body, html {
    height: 100%;
}

.biru1 {
    background-color: rgb(196, 213, 240);
}

.biru2 {
    background-color: #354764;
}

#tron {
    height: 65%;
}

#bunga {
    height: 110%;
    width: auto;
    margin-top: -2%;
    padding-left: 2%;
    float: left;
}

h1 {
    font-family: "Grand Hotel";
    font-size: 85px;
    font-weight: 580;
    font-style: italic;
    text-align: center;
    line-height: 90px;
    padding: 40px 0 0 0;
    color: white;
    height: fit-content;
    width: fit-content;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: right;
    height: fit-content;
    width: fit-content;
}

.agen{
    display: none;
}

hr {
    transform: rotate(145deg);
    width: 200%;
    border: 1px solid white;
    margin-left: -100%;
}

.col-4 {
    padding-top: 180px;
}

.col-4 h3 {
    padding-top: 20px;
}

.col-8 {
    padding-left: 15%;
}

/* ----------------------------------------------------------------------------------------- */
td, p{
    font-family: "Raleway", sans-serif;
}

h2 {
    font-family: "Grand Hotel";
    font-weight: normal;
    font-size: 64px;
    margin-bottom: 50px;
    text-align: center;
    color: #011C37;
}

.judul {
    height: fit-content;
}

#profil img {
    height: 200px;
    border-radius: 50%;
    float: left;
}

.subkontainer {
    width: fit-content;
}

.konten{
    display: block;
    width: fit-content;
}

.tabel {
    padding: 20px 0 0 250px;
    margin-bottom: 20px;
}

#profil p {
    border: 3px solid #354764;
    margin-top: 15px;
    padding: 5px 5px 5px 5px;
    width: 550px;
    font-size: 14px;
}

h4 {
    font-family: "Grand Hotel";
    font-weight: normal;
    font-size: 28px;
    padding-top: 20px;
    margin-bottom: -10px;
    color: #011C37;
}

/* ============================================================================================= */

#pengalaman ul {
    list-style-type: disc;
    float: none;
    background-color: rgb(196, 213, 240);
}

#pengalaman li {
    float: none;
}

.sub-konten {
    padding-left: 50px;
    float: left;
    width: fit-content;
}

.sub-konten h4 {
    font-size: 32px;
    margin-bottom: 10px;
}

/* ===================================================================================================== */

#kontak p {
    margin-top: 13px;
    padding: 10px 0 20px 0;
}

.sub-kontainer {
    width: 290px;
}

.icon {
    height: 44px;
    float: left;
    margin-right: 20px;
}

#kontak a {
    color: black;
}

/* ===================================================================================================== */

.navbar {
    background-color: #011C37;
}

.navbar-brand {
    font-family: "Grand Hotel";
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    line-height: 15px;
}

/* ===================================================================================================== */
@media (max-width: 1020px) {
    h3 {
        font-size: 18px;
    }
    h1 {
        font-size: 72px;
        line-height: 90px;
    }

}

@media (max-width: 875px) {
    .sub-konten p {
        font-size: 0.9rem;
    }
    .col-4 {
        display: none;
    }
    .agen {
        display: block;
        margin-top: 30px;
    }
    hr {
        transform: none;
        width: 280px;
        margin-left: 0;
    }
    h3 {
        font-size: 18px;
    }
}

@media (max-width: 812px) {
    .sub-konten p {
        font-size: 0.8rem;
    }
    #bunga, .agen {
        display: none;
    }
    .col-4 {
        display: block;
    }
    hr {
        width: 200%;
        transform: rotate(145deg);
        margin-left: -100%;
    }
}

@media (max-width: 756px) {
    .sub-konten p {
        font-size: 1rem;
    }
}

@media (max-width: 578px) {
    #profil img {
        float: none;
        margin-left: 25px;
    }
    .tabel {
        padding: 30px 0 0 0px;
        margin-bottom: 20px;
    }
    .data {
        padding-left: 10px;
    }
    #profil p {
        width: 100%;
    }
    .col-4 {
        display: none;
    }
    .agen {
        display: block;
        margin-top: 30px;
    }
    hr {
        transform: none;
        width: 150%;
        margin-left: 0;
    }
    h3 {
        font-size: 18px;
    }
    h1 {
        font-size: 450%;
        line-height: 110%;
    }
}

@media (min-width: 1500px) {
    h3 {
        font-size: 150%;
    }
    h1 {
        font-size: 700%;
        line-height: 110%;
    }
    .col-4 {
        padding-top: 250px;
    }
    .col-4 h3 {
        padding-top: 20px;
    }
}